<table class="table author-table current-authors">
    <thead>
        <tr>
            <th></th>
            <th class="contrib-column-header">
                {{t 'collections.project_contributors.list.name'}}
            </th>
            <th class="contrib-column-header">
                {{t 'collections.project_contributors.list.permissions'}}
                <span>
                    <i class="fa fa-question-circle permission-info"
                        data-toggle="popover"
                        data-title="{{t 'collections.project_contributors.list.'}}"
                        data-trigger="hover"
                        data-html="true"
                        data-placement="bottom"
                        id="permissions-popover">
                    </i>
                </span>
                <br>
            </th>
            <th class="bib-padding">
                {{t 'collections.project_contributors.list.citation'}}
                <span>
                    <i class="fa fa-question-circle permission-info"
                        data-toggle="popover"
                        data-title="{{t 'collections.project_contributors.list.'}}"
                        data-trigger="hover"
                        data-html="true"
                        data-placement="bottom"
                        id="bibliographic-popover">
                    </i>
                </span>
                <br>
            </th>
            <th></th>
        </tr>
    </thead>
    {{#sortable-group tagName="tbody" onChange="reorderItems" as |group|}}
        {{#each contributors as |contributor|}}
            {{project-contributors/list/item
                group=group
                contributor=contributor
                isAdmin=isAdmin
                adminCount=adminCount
                bibliographicCount=bibliographicCount
                removeContributor=(action (perform removeContributor))
                toggleBibliographic=(action (perform toggleBibliographic))
                updatePermissions=(action (perform updatePermissions))
            }}
        {{/each}}
    {{/sortable-group}}
</table>