<form {{action 'submit' on='submit'}}>
    <h3>{{t 'collections.project_contributors.search.unregistered_contributor.title'}}</h3>
    <label local-class="fullwidth">
        {{t 'collections.project_contributors.search.unregistered_contributor.full_name'}}
        {{validated-input
            model=model
            didValidate=didValidate
            valuePath='fullName'
            placeholder=(t 'collections.project_contributors.search.unregistered_contributor.full_name')
            disabled=hasSubmitted
        }}
    </label>
    <br>
    <label local-class="fullwidth">
        {{t 'collections.project_contributors.search.unregistered_contributor.email'}}
        {{validated-input
            model=model
            didValidate=didValidate
            valuePath='email'
            placeholder=(t 'collections.project_contributors.search.unregistered_contributor.email')
            disabled=hasSubmitted
        }}
    </label>
    <p class="text-muted">
        {{t 'collections.project_contributors.search.unregistered_contributor.paragraph'}}
    </p>
    <div class="pull-right text-right">
        <button
            class="btn btn-default"
            {{action 'cancel'}}
        >
            {{t 'collections.project_contributors.search.unregistered_contributor.cancel'}}
        </button>
        <button
            class="btn btn-success"
            type="submit"
        >
            {{t 'collections.project_contributors.search.unregistered_contributor.add'}}
        </button>
    </div>
</form>
