{{#if (and (not open) tooltipKey)}}
    {{bs-tooltip
        title=(t (concat tPrefix tooltipKey))
        triggerElement='parentView'
    }}
{{/if}}
{{#panels.panel
    open=(eq section activeSection)
    as |panel|
}}
    <header local-class="{{if (not open) 'closed'}}">
        {{t (concat tPrefix titleKey)}}
        <span class="pull-right">
            <i class="fa fa-icon fa-floppy-o"></i>
        </span>
    </header>
    {{#if didSave}}
        <span {{action 'editSection'}}>Click to edit</span>
    {{/if}}
    {{#panel.body}}
        {{#if descriptionKey}}
            <p>{{t (concat tPrefix descriptionKey)}}</p>
        {{/if}}
        <div class="row">
            {{yield}}
        </div>
    {{/panel.body}}
{{/panels.panel}}